body{
    background-color: rgb(193, 230, 217);
    padding: 8% 0% 0% 45%;
}
.gallery{
    width: 30%;
    height: 300px;
    display: flex;
    gap: 5px;
}

.gallery img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid wheat;
    transition: all ease 0.3s;
    cursor: pointer;
}

.gallery img:hover{
    width: 200%;
}